
.notification-content{
    overflow-y: auto;
    height: 213px;
    cursor: pointer;
    margin-bottom: 5px;
}
.notification-componant{
    width: 100%;
    height: 68px;
    background-color: #f4f4f4;
    margin-bottom: 5px;
    position: relative;
}
.unseen:hover{
    background-color: #f4fbfe;
}
.notification-componant p{
    margin: 0px;
    font-size: 14px;
    color: #2baae9;
}
.notification-componant label{
    margin: 0px;
    font-size: 14px;
}
.notification-componant .icon{
    position: absolute;
    top: 2px;
    right: 10px;
}
.notification-componant .content{
    width: 72%;
}
@media only screen and (max-width: 768px) {
    .notification-componant .content{
        width: 73%;
        overflow-y: auto;
    }
  }