.dates{
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    background-color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dates p {
    padding-top: 11px;
}
.icon{
    cursor: pointer;
}
.active-btn{
    background-color: rgb(97, 197, 247);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.active-btn:hover{
    color: rgb(255, 255, 255);
}