.home .left{
    background-color:#FBFBFB;
    height: 520px;
    flex: 40%;
    margin-right: 10px;
    padding: 0px;
}
.home .right{
    background-color: white;
    height: 520px;
    flex: 50%;
    padding: 0px 15px;
    padding-top: 20px;
}
.top-doctor-content{
    overflow-y: auto;
    height: 470px;
}
.top-doctor p{
    cursor: pointer;
}
.top-doctor h3{
    margin-left: 10px;
    width: 250px;
}
.home .categorie h3,.home .top-doctor h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.categorie{
    background-color: white;
    width: 100%;
    padding: 0px 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    height: 205px;
}
.categorie-img img{
    width: 89px;
    height: 89px;
    cursor: pointer;
}
.categorie-img {
    width: 100%;
    height: 152px;
    overflow-x: auto;
}
.drag-area{
    border: 2px dashed #79D5F5;
    height: 100px;
    width:80%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4FBFE;
    color: #A8ABB7;
    font-size: 20px;
    margin: auto;
  }
  .Circular-container{
    width:90%;
    height: 100px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
.Circular-container .test{
    margin-right: 5px;
    width: 125px;
    height: 108px;
}
.Circular-container .test p{
    font-size: 13px;
    margin-bottom: 0px;
}
.Circular-container .test .pred{
    font-size: 18px;
    color: #14274E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





@media only screen and (max-width: 768px) {
    .Circular-container {
        width: 100%;
        height: 100px;
        display: flex;
        margin: auto;
    }
    .Circular-container .test{
        margin-right: 3px;
        width: 100px;
        height: 108px;
    }
    .Circular-container .test p{
        font-size: 11px;
    }
    .Circular-container .test .pred {
        font-size: 15px;
    }
    .categorie-img img {
        width: 98px;
        height: 93px;
    }
    .main-container{
        flex: 100%;
        padding: 10px 20px;
    }
    .home .left{
        flex: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .home .right{
        flex: 100%;
        height: 350px;
        padding: 0px 2px;
    }
    .top-doctor-content{
        height: 280px;
        width: 317px;
        margin: auto;
    }
    .categorie-img {
        width: 100%;
        height: 140px;
        overflow-x: auto;
    }
    .home .left{
        height: 190px;
    }
}

